* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  overflow: hidden;
  height: 500px;
  width: 500px;
}

.images-container {
  display: flex;
  transition: transform 0.3s linear;
  transform: translateX(0);
}

img {
  width: 500px;
}
